# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
.idea/workspace.xml
.idea/tasks.xml

# Sphinx docs:
build

# test SQLite3 database files:
*default.db

# Logs:
*.log
