{% extends "base.html" %}
{% load staticfiles %}

{% block active_projects %}active{% endblock %}
{% block appname %}APIs{% endblock %}
{% block navbar_type %}navbar-inverse{% endblock %}

{% block page_title %}
    Set up ARK projects
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a type="button" class="btn btn-xs btn-success" href="addproject">Add new ARK instance <i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project id</th>
                    <th>Project name</th>
                    <th>Project desc</th>
                    <th>Host</th>
                    <th>WFS</th>
                    <th>Tools</th>
                </tr>
            </thead>
            {% if object_list %}
                <tbody>
                    {% for project in object_list %}
                        <tr>
                            <td>
                                <a href="{{ project.get_absolute_url }}">{{ project.projectslug}}</a>
                            </td>
                            <td>
                                {{ project.projectname }}
                            </td>
                            <td>
                                {{ project.projectdesc }}
                            </td>
                            <td>
                                {{ project.arkdbhost }}
                            </td>
                            <td>
                                {% if project.arkwfsaddress %}
                                    <i class="glyphicon glyphicon-ok"></i>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs" href="{{ project.get_absolute_url }}"><i class="glyphicon glyphicon-wrench"></i></button> <button projectcode="{{ project.projectslug }}" class="btn btn-default btn-xs projectbutton"><i class="glyphicon glyphicon-refresh"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/checkbutton.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
