{% extends "base.html" %}
{% load staticfiles %}

{% block appname %}Stats{% endblock %}
{% block navbar_type %}navbar-default{% endblock %}

{% block page_title %}
    {{ project.projectname }}'s details
{% endblock %}

{% block extra_css %}
    <link href="{% static "css/json2html.css" %}" rel="stylesheet">
    <link href="{% static "css/ladda.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="modal fade" id="apidatamodal" tabindex="-1" role="dialog" aria-labelledby="apidatamodal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">API structure</h4>
                </div>
                <div class="modal-body" id="apidatadiv"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="synccxtmodal" tabindex="-1" role="dialog" aria-labelledby="synccxtmodal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contexts ID structure</h4>
                </div>
                <div class="modal-body" id="apidatadiv"></div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon">Cxt selector</span>
                                <input id="jsonpathinput" type="text" class="form-control" placeholder="Type contexts' JSONPath selector" value=""/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <pre id="cxtpreview"></pre>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info confirmcxt" data-dismiss="modal">Get contexts</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Project code: <span class="label label-default">{{ project.projectcode }}</span></div>
                    <table class="table">
                        <tr>
                            <td>Description</td>
                            <td>{{ project.projectdesc }}</td>
                        </tr>
                        <tr>
                            <td>API URL</td>
                            <td>
                                {% if project.apiuser %}
                                    <i class="glyphicon glyphicon-user"></i>
                                {% endif %}
                                <a href="{{ project.apiurl }}">{{ project.apiurl }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Last data get</td>
                            <td>
                                {% if project.map.dateget == None %}
                                    <p class="text-muted">No data has been imported.</p>
                                {% else %}
                                    {{ project.map.dateget }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Contexts</td>
                            <td>Synced: {{ project.cxtmodel_set.count }}, mapped: {{ mapped_cxt_count }}</td>
                        </tr>
                    </table>
                    <div class="panel-footer">
                        <p class="text-left">Mapped data</p>
                        {% for field in project.get_field_list %}
                            <span class="label label-info">{{ field }}</span>
                        {% empty %}
                            <p class="text-muted">No data mapping defined. <a href="{{ project.get_absolute_url }}/editmap">Add one.</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Tools</h4>
                    </div>
                    <div class="panel-body">
                        <p>Use the following shortcuts to gather information about API status.</p>
                        <a type="button" class="btn btn-primary ladda-button projectbutton" data-size="xs" projectcode="{{ project.projectcode }}">
                            <span class="ladda-label">
                                Test address <i class="glyphicon glyphicon-link"></i>
                            </span>
                        </a>
                        <a type="button" class="btn btn-primary ladda-button projectbutton-get-str" data-style="slide-down" data-size="xs" apiurl="{{ project.apiurl }}">
                            <span class="ladda-label">
                                Get API structure <i class="glyphicon glyphicon-th-list"></i>
                            </span>
                        </a>
                    </div>
                    <div class="list-group">
                        <li class="list-group-item">
                            <p>Use these buttons to manage the mappings for data in this API.</p>
                            <div class="btn-group btn-group-justified">
                                <a type="button" class="btn btn-primary btn-xs synccxtbutton">Sync cxt</a>
                                <a type="button" class="btn btn-info btn-xs" href="{{ project.get_absolute_url }}/refreshdata">Refresh data</a>
                                <a type="button" class="btn btn-warning btn-xs" href="{{ project.get_absolute_url }}/editmap">Edit map</a>
                                <a type="button" class="btn btn-danger btn-xs" href="{{ project.get_absolute_url }}/deletemap">Flush data</a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- JSONPath filtering -->
    <script src="{% static "js/jquery.json-2.4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/jquery.textchange.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/dump.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/jsonpath-0.8.0.js" %}" type="text/javascript" charset="utf-8"></script>
    <!-- JSON2HTML -->
    <script src="{% static "js/json2html.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/jquery.json2html.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/json2html-transforms.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/json2html-helpers.js" %}" type="text/javascript" charset="utf-8"></script>
    <!-- buttons -->
    <script src="{% static "js/checkbutton.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/getapibutton.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/spin.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/ladda.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        // creates a JS array (`result`) from a JSON and a query.
        var evaluate = function(){
            var query = $("input").val();
            //result = jsonPath(jsondata, query, {resultType:"PATH"});
            result = jsonPath(jsondata, query, {resultType:"VALUE"});
            $('#cxtpreview').empty();
            if(result) {
                $('#cxtpreview').append(dump(result));
            }
        };

        // start `evaluate` function when input changes
        $('input').bind('textchange', evaluate);

        $('.synccxtbutton').click(function(){
            // open the modal
            $('#synccxtmodal').modal();
            // add `loading` text to the code area
            $('#cxtpreview').html('<center>Loading data from API...</center>');
            // disable text input while loading API data
            $('#jsonpathinput').attr('disabled', true);
            // load the JSON in a global variable
            $.getJSON('{{ project.apiurl }}', function(data){
                jsondata = data;
                $('#cxtpreview').html('');
                $('#jsonpathinput').attr('disabled', false);
                    }, "json");
            // enable text input after API data loaded
        });

        $(document).on('click', '.confirmcxt', function(){
            // change the JS array to an object
            resultobj = $.extend({}, result);
            resultjson = JSON.stringify(resultobj);
            console.log('resultjson: ', resultjson);
            $.post('{{ project.projectcode }}/synccxt', {queryresult: resultjson});
            });
    </script>
{% endblock %}