{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Add new shapefile
{% endblock %}

{% block appname %}GeoStats{% endblock %}
{% block navbar_type %}navbar-default{% endblock %}

{% block content %}
    {% if err_msg %}
        <b><i>{{ err_msg }}</i></b>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="import">
        {{ form|crispy }}
        <button type="submit" value="Submit" class="btn btn-default">Upload</button>
    </form>
{% endblock %}