{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block extra_css %}
    <style>
        .leaflet-container {  /* all maps */
            height: 600px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/Control.FullScreen.css' %}"/>
{% endblock %}

{% block appname %}GeoStats{% endblock %}
{% block navbar_type %}navbar-default{% endblock %}

{% block page_title %}
    {{ shape.filename }}
{% endblock %}

{% block page_description %}
    {% if shape.desc %}
        {{ shape.desc }}
    {% else %}
        <p class="text-muted">No description available</p>
    {% endif %}
    | {{ shape.count_features }} structures
{% endblock %}

{% block page_added %}
    Added on:
    {% if shape.dateadded %}
        {{ shape.dateadded }}
    {% else %}
        <p style="display: inline" class="text-muted">No date</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-success">
                    <div class="panel-body">
                        {% leaflet_map "shapemap" callback="window.map_init_basic" %}
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-2">Legend</div>
                            <div class="col-md-10" id="legend"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="row-statistics">
                <div class="btn-group btn-group-justified btn-group-sm">
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i> PDF report</a>
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-stats"></i> Plot statistics</a>
                    <a type="button" class="btn btn-default" href="{% url 'shape_delete' shape.pk %}"><i class="glyphicon glyphicon-remove-circle"></i> Delete</a>
                </div>
                <br>
                <div id="table-statistic">
                    {% include 'appgeostat/shp_detail_table.html' with context=general_context %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/Control.FullScreen.js' %}"></script>
    <script type="text/javascript">
        function map_init_basic (map, options) {

            // define baselayer style
            function baseStyle(feature){
                return {{ style_base|safe }}
            }

            // adding layer with features from the current Shapefile, apply style
            var data = {{ geojson|safe }};
            var baseLayer = L.geoJson(data, {style: baseStyle}).addTo(map);

            // default zoom to baselayer extension
            map.fitBounds(baseLayer.getBounds());

            // add fullscreen button from FullScreen plugin
            var fullScreen = new L.Control.FullScreen();
            map.addControl(fullScreen);

            /**
             * An array to store the IDs of the layers added to the map;
             * how to get layer ID: `layerObject._leaflet_id`
             *
             * addedLayers = [{'name': 'area', 'id': '1',}]
             */
            addedLayers = [];

            /**
             * Create a group to store each layer containing statistics data;
             * this ease the process of checking if a layer has been already
             * added, using `eachLayer` method on the `layerGroup` in the
             * function that follows, `removeLayer`.
             */
            statGroup = L.layerGroup().addTo(map);

        }
    </script>
    <script type="text/javascript">
        /**
         * Function to return the position of a property in an array of
         * objects; if the property is not in any of the objects of the
         * array, returns `-1`.
         */
        function arrayObjectIndexOf(myArray, searchTerm, property) {
            for(var i = 0, len = myArray.length; i < len; i++) {
                if (myArray[i][property] === searchTerm) return i;
            }
            return -1;
        }

        /**
         * Function to remove a layer from a group using layer's ID
         */
        function removeLayer(id, group) {
            group.eachLayer(function (layer) {
                if (layer._leaflet_id === id){
                    group.removeLayer(layer)
                }
            });
        }

        /**
         * On click on any button with `.btn-stats` class, starts a POST request
         * using `pk` and `url` from the button attributes. Returns a rendered
         * template (table row) from geographical calculation and adds the new
         * row in the correct position inside the table.
         */
        $('#row-statistics').on('click', '.btn-stats', function(){
            var value = $(this).attr('value');
            var stat_url = window.location.pathname + '/' + value;
            $.post(stat_url, {'pk': {{ shape.pk }}}, function(data){
                $('#table-statistic').replaceWith(data);
            });
        });

        /**
         * On click, gets the value from the button's `value` attribute and use
         * it to activate/deactivate a layer on the map. A delegated jQuery
         * interceptor has been used because the table row is inserted when
         * clicking on `.btn-stats` and injected after page load.
         */
        $('#row-statistics').on('click', '.btn-show', function(){
            var value = $(this).attr('value');
            var table = $(this).attr('table');
            var post_attr = $(this).attr('geom');
            var stat_url = window.location.pathname + '/' + value + '/' + post_attr;

            // position of the selected layer in the layers array (`-1` if none)
            var pos = arrayObjectIndexOf(addedLayers, value, 'name');

            if (pos > -1){
                // if the selected layer is already in the array...
                removeLayer(addedLayers[pos].id, statGroup); //remove from map (group)
                addedLayers.splice(pos, 1); // remove from array
                $(this).find('i').removeClass('glyphicon-remove-sign').addClass('glyphicon-map-marker'); // change icon
                $('#legend').find("[map=" + value + "]").remove(); // remove legend
            }else{
                $.post(stat_url, {'table': table},
                    function(data){
                        var curGeom = JSON.parse(data).geom;
                        var curStyle = JSON.parse(data).style;
                        var curStyleColor = curStyle.fillColor || curStyle.color;

                        var curLayer = L.geoJson(JSON.parse(curGeom), {style: curStyle});
                        statGroup.addLayer(curLayer); // add to layers group

                        var newLayer = {'name': value, 'id': curLayer._leaflet_id};
                        addedLayers.push(newLayer); // add to layers array

                        $('#legend').append('<span class="label" map="' +
                                value +
                                '" style="color:#000; background-color:' +
                                curStyleColor + '">' +
                                value + '</span>&nbsp;'); // add legend
                    }
                );
                $(this).find('i').removeClass('glyphicon-map-marker').addClass('glyphicon-remove-sign'); // change icon
            }
        });
    </script>
{% endblock %}