{# This template could be rendered directly thanks to an inclusion from the #}
{# `shp_detail.html` or from a view. Each rendering process uses its variables. #}
{#  #}
{# - group: the group of analysis belonging to: settlement, ditch, compound #}
{# - value: the value type: area, perimeter #}
{# - result: the result of the calculation #}
{# - geom: geojson associated to the result #}
<tr id="{{ group }}-{{ value|lower }}">
    <td class="{{ status }}" id="{{ value|lower }}">{{ value }}</td>
    <td class="{{ status }}">{{ result|floatformat:0 }} {% if unit == 'sq_m' %}m&sup2{% elif unit == 'm' %}m{% else %}{% endif %}</td>
    <td class="{{ status }}">
        {% if status == 'success' %} {# data already in db #}
            {% if geom %}
                {% include "appgeostat/shp_detail_stat_showmap.html" with stat_value=value|lower action=action post_attr=geom %}
            {% endif %}
        {% else %}{# data need to be generated #}
            {% if link %}
                {% include "appgeostat/shp_detail_stat_btn.html" with link=link %} {# open external url, e.g. a wizard #}
            {% else %}
                {% include "appgeostat/shp_detail_stat_btn.html" with stat_link=value|lower %} {# defines value for statistic, passed to POST #}
            {% endif %}
        {% endif %}
    </td>
</tr>
