{# This template could be rendered directly thanks to an inclusion from the #}
{# `shp_detail.html` or from a view. Each rendering process uses its variables. #}
{#  #}
{# - group: the group of analysis belonging to: settlement, ditch, compound #}
{# - value: the value type: area, perimeter #}
{# - result: the result of the calculation #}
{# - geom: geojson associated to the result #}
<tr id="{{ group }}-{{ value|lower }}">
    <td class="{{ status }}" id="{{ value|lower }}">{{ value }}</td>
    <td class="{{ status }}">{{ result|floatformat:0 }} {% if unit == 'sq_m' %}m&sup2{% elif unit == 'm' %}m{% else %}{% endif %}</td>
    <td class="{{ status }}">
        {% if status == 'success' %}
        {# data already in db #}
            {% if geom %}
                {% include "appgeostat/shp_detail_stat_showmap.html" with stat_value=value|lower action=action post_attr=geom %}
            {% endif %}
        {% elif status == 'danger' %}
        {# data need to be generated #}
            {% if link %}
                {# open external url, e.g. a wizard #}
                <a class="btn btn-default btn-sm pull-right btn-stats" href="{{ link }}"><i class="glyphicon glyphicon-tasks"></i></a>
            {% elif message %}
                <div class="tooltip">
                    <div class="tooltip-inner">
                        {{ message }}
                    </div>
                </div>
                <a href="#" data-toggle="tooltip" title="first tooltip">Action required</a>
            {% else %}
                {# defines value for statistic, passed to POST #}
                <a class="btn btn-default btn-sm pull-right btn-stats" value="{{ value|lower }}"><i class="glyphicon glyphicon-tasks"></i></a>
            {% endif %}
        {% endif %}
    </td>
</tr>